.navbar navbar-expand-lg navbar-light bg-light {
    background-color: #f7c9cb    ;
}

body {
    background-color: #f4b4b5;
}

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


h1, h2, p{
    font-family: 'Knewave', cursive;;
    color: #8b4752; 
    font-size: 32px;
}

h2 {
    font-family: 'Knewave', cursive;;
    color: #8b4752; 
    font-size: 32px;
}

p {
    font-family: 'Knewave', cursive;;
    color: #8b4752; 
    font-size: 32px;
}